<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>250228474323-g3uetddrh77315psietfktghj6o42u24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250228474323-g3uetddrh77315psietfktghj6o42u24</string>
	<key>API_KEY</key>
	<string>AIzaSyBKDZDt9wsnq79GMVB1ySEX-Z7PKm1dvFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>250228474323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.casinovenezia.Casino--di-Venezia</string>
	<key>PROJECT_ID</key>
	<string>cmv-gioco</string>
	<key>STORAGE_BUCKET</key>
	<string>cmv-gioco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:250228474323:ios:d37c22864b4c44de</string>
	<key>DATABASE_URL</key>
	<string>https://cmv-gioco.firebaseio.com</string>
</dict>
</plist>